body {
    background: url(foodbackground3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: white;
    position: relative;
  left: 470px;
  top: 150px;
}

select {
position: relative;
left: 530px;
top: 175px;
}

button {
    position: relative;
    left: 530px;
    top: 175px;
    }