body{
    margin: 0;
    padding: 0;
    
}

.container{
    position: absolute;
    left: 400px;
    top: 50%;
    transform: translate(-50%,-50%);
text-align: center;
}

.btn{
    border: none;
    margin: 0px;
    padding: 24px;
    width: 220px;
    font-family: "monsterrat",sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
}

.btn1{
    background-image: linear-gradient(to left,#e67e22,#c0392b,#e67e22)
}

a {
    margin-left: 70px
}