body {
    background: url(background4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: white;
    position: relative;
  left: 170px;
  top: 150px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

select {
position: relative;
left: 230px;
top: 175px;
}

button {
    position: relative;
    left: 290px;
    top: 175px;
    }